@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item" >
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" style="background-color: #FDF2D0; color: black;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @User.Identity?.Name!
                </button>
                <ul class="dropdown-menu" style="background-color: #FDF2D0">
                    <li><a class="dropdown-item"  href="#">Profile</a></li>
                    <li><a class="dropdown-item"  asp-controller="Account" asp-action="Logout">Logout</a></li>
                    
                </ul>
            </div>
        </li>
        <li>
           
        </li>
    }
    else
    {
        <li class="nav-item" >
        <a class="text-white mx-2" asp-controller="Account" asp-action="Register" method="get">Register</a>
        <a class="text-white mx-2" asp-controller="Account" asp-action="Login" method="get">Login</a>
        </li>
    }
</ul>



